
@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/_LayoutPannel.cshtml";
}

<h2 class="text-center" >تیم برنامه نویسی کدئین</h2>
<div class="container-fluid" style="font-size:25px;">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <img class="img-fluid" src="~/Content/logo_Codein.png" alt="Logo" width="200" height="400" />
        </div>
        <div class="col-4"></div>
    </div>
    <br />
</div>

