<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Zamim3</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>

        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            font: 12pt "B Titr","B Mitra";
            direction: rtl;
        }

        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .page {
            width: 297mm;
            min-height: 210mm;
            background: white;
        }

        .subpage {
            padding: 1cm;
            height: 210mm;
        }

        th {
            text-align: center !important;
        }

        .khatchin {
            border-left: 2px dashed #000;
        }
    </style>


</head>

<body>

    <div class="book">
        <div class="page">
            <div class="subpage">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4 text-left">
                            <p>
                                <i>1398/58/58</i>
                            </p>
                            <p>
                                <i>13:15:10</i>
                            </p>
                            <p>
                                صفحه:
                                <i>1 از 1</i>
                            </p>
                        </div>
                        <div class="col-xs-4 text-center">
                            <p>سازمان آتش نشانی و خدمات ایمنی شاهرود</p>
                            <p>گزارش تفکیکی حوادث</p>
                        </div>
                        <div class="col-xs-4 text-right">
                            <p>
                                <img src="#" alt="logo" />
                            </p>
                            <p class="text-center">
                                از تاریخ:
                                <i>1399/02/05</i>
                                تا تاریخ:
                                <i>1399/02/15</i>
                            </p>
                        </div>

                    </div>
                    <div class="card border">
                        <table class="table table-bordered table-striped text-center">
                            <thead>
                                <tr class="bg-info">
                                    <th>ردیف</th>
                                    <th>نوع حادثه</th>
                                    <th>تعداد حادثه</th>
                                    <th>آتش نشانها در عملیات</th>
                                    <th>مدت عملیات (دقیقه)</th>
                                    <th>تعداد خودرو های اعزامی</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>سقوط در چاه</td>
                                    <td>5</td>
                                    <td>24</td>
                                    <td>360</td>
                                    <td>3</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">جمع کل:</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>



</body>

</html>


